/* Estilos para la página de inicio/splash screen */
#splashScreen {
  text-align: center;
  margin-top: 100px;
}
#splashScreen a {
  display: block;
  margin-top: 20px;
}

/* Estilos para los formularios de registro e inicio de sesión */
form {
  margin-top: 20px;
}
form label,
form input {
  display: block;
  margin-bottom: 10px;
}
form button {
  margin-top: 20px;
}

/* Otros estilos pueden ser agregados según sea necesario */
